body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.feed-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
}

.post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}


.avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    position: relative;
    right: -2px;
    top: -9px;
}

.dots {
    width: 12px;
    position: relative;
    top: 0em;
    left: 27em;
    padding-top: 0;
}

.bookmark {
    position: relative;
    left: 534px;
}

.usuario {
    width: 12px;
    position: relative;
    top: 3px;
    left: -51px;
    padding-top: 5px;  
}


.bookmark {
    font-size: 10px;
    position: relative;
    left: 471px;
}

.post-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.post-footer {
    padding: 27px;
}

.caption {
    margin: 20;
}

.likes {
    width: 30%;
    margin: 10px auto;
}

.likes_for {
    font-weight: bold;
    width: 50%;
    margin-top: -78px;
}

.heart-icon {
    font-size: xx-large;
    position: relative;
    right: 2px;
}

.paper-plane {
    font-size: xx-large;
    position: relative;
    left: 79px;
    bottom: 35px;
}

.comment {
    font-size: xx-large;
    position: relative;
    left: 40px;
    bottom: 73px;
}

.bookmark {
    font-size: xx-large;
    position: relative;
    left: 512px;
    bottom: 110px;
}